
@{
    Layout = null;
}

<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menüler</div>
                <a class="nav-link" href="/product/index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Ürünler
                </a>
                <a class="nav-link" href="/customer/index">
                    <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" href="/category/index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Kategoriler
                    <a class="nav-link" href="/job/index">
                        <div class="sb-nav-link-icon"><i class="fa fa-bicycle"></i></div>
                        Meslekler
                        <a class="nav-link" href="/job/addjob">
                            <div class="sb-nav-link-icon"><i class="fa fa-plane"></i></div>
                            Yeni Meslek Girişi
                        </a>
                        <a class="nav-link" href="/product/AddProduct">
                            <div class="sb-nav-link-icon"><i class="fa fa-gift"></i></div>
                            Yeni Ürün Girişi
                        </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
        </div>
    </nav>
</div>